# Logs
logs/
*.log

# Dependencies
node_modules/

# Build & Cache
.next/
out/
build/
dist/

# Environment Variables
.env
.env.local
.env.*.local

# Editor & OS
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db
